.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 0;
    left: 48%;
    margin-top: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #007aff !important;
}
.owl-theme .owl-dots .owl-dot span {

    margin: 5px 5px  !important;
}